.padding{
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 0;
  margin-bottom:0;
}

.little-heading-background{
  background-color: #7fbef5;
  margin-top: 0;
  margin-bottom:0;
}

.right-padding{
  padding-right: 8px;
}

.zero-padding{
  padding-left: 0;
  padding-right: 0;
}
.search-history-row-divs{
  display: inline;
}
